{% extends 'base.html' %}

{% block title %}Search{% endblock title %}


{% block content %}

<section class="mb-6 pb-0">
	<div class="container-fluid px-lg-5">
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h2>Our Exciting Experience</h2>
			</div>
		</div>

		<div class="tiny-slider arrow-round arrow-blur rounded-3 overflow-hidden">
			<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items-xl="4" data-items-lg="3" data-items-md="2" data-items-xs="1">
				{% if products %}
                    {% for product in products %}
                    <div>
                        <div class="card card-metro overflow-hidden">
                            {% if product.images.exists %}
                            <img src="{{ product.images.all.first.image.url }}" alt="">
                            {% else %}
                            <img src="/static/images/element/07.jpg" alt="">
                            {% endif %}
                            <div class="card-img-overlay d-flex"> 
                                <div class="card-text mt-auto">
                                    <h4><a href="{% url 'store:product_detail' product.slug %}" class="text-white stretched-link">{{ product.title|title }}</a></h4>
                                    <p class="text-white mb-2">{{ product.description }}</p>
                                    <small>$ {{ product.get_display_price }}</small><br>
                                    <button class="btn btn-link text-white p-0 mb-0">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <center><p>Kechirasiz</p></center>
                {% endif %}
			</div>	
		</div>
	</div>
</section>

{% endblock %}
